#modalContainer {
    background-color: var(--color-alert-background-overlay);
    position: fixed;
    width:100%;
    height: 100vh;
    top:0px;
    left:0px;
    z-index:10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alertBox {
    --size-alert-width: 410px;
    padding: 0;
    margin: 0;
    width: var(--size-alert-width);
    max-width: var(--size-alert-width);
    min-width: var(--size-alert-width);
    /* min-height: 300px; */
    /* max-height: 80vh; */
    background-color: var(--color-alert-background-holder);
    border: 1px solid var(--color-alert-background-holder-border);
    border-radius: 21px;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    overflow: hidden;
    animation: scalePopup linear .1s;
}

#modalContainer > #alertBox {
    position:fixed;
}

#alertBox a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0;
    border-radius: 12px;
}
#alertBox a:hover {
    background: var(--color-popup-item-background-hover);
}

#alertBox h1 {
    padding: 15px 20px;
    margin: 0;
    border-bottom: 1px solid var(--color-alert-background-holder-border);
    box-shadow: 0 -5px 30px rgb(0 0 0 / 10%);
    font-weight: 700;
    font-size: 16px;
    font-family: system-ui;
    color: var(--color-alert-title);
    line-height: 23px;
    display: flex;
    align-items: center;
    /* background: linear-gradient(180deg, var(--color-alert-title-background), transparent); */
}

#alertBox p {
    margin: 15px;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    font-family: system-ui;
    color: var(--color-alert-title);
    opacity: .6;
}

#alertBox button {
    margin: 10px 15px;
    text-transform: uppercase;
}

div.list-share {
    padding: 0px 15px;
    margin: 0;
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: auto auto auto auto auto auto auto;
}
div.list-share div.item {
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    overflow: hidden;
}
div.list-share div.item:hover {
    box-shadow: 0 10px 30px rgb(0 0 0 / 30%);
    /* opacity: .5; */
    transform: scale(1.1);
}
div.list-share div.item img {
    --size-icon-share: 40px;
    width: var(--size-icon-share);
    max-width: var(--size-icon-share);
    min-width: var(--size-icon-share);
    height: var(--size-icon-share);
    max-height: var(--size-icon-share);
    min-height: var(--size-icon-share);
    pointer-events: none;
    object-fit: cover;
    object-position: center;
    user-select: none;
    /* border-radius: 4px; */
    display: flex;
    background-color: var(--color-img-default-background);
}

#alertBox h3.message-short {
    padding: 10px 10px 10px 10px;
    margin: 0;
    border-top: 1px solid var(--color-alert-background-holder-border);
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    font-family: system-ui;
}