div.qak-popup-alert-item {
	margin: 0px 15px 0px 15px;
	/* padding: 10px; */
	display: flex;
	position: relative;
	/* border: 1px solid var(--color-popup-item-background-hover); */
	border-radius: 15px;
}
div.qak-popup-alert-item:hover div.qak-popup-alert-item-actions {
	display: flex;
}
img.qak-popup-alert-item-avatar {
	--size-p-a-avatar: 50px;
	padding: 0;
	margin: 0;
	width: var(--size-p-a-avatar);
	max-width: var(--size-p-a-avatar);
	min-width: var(--size-p-a-avatar);
	height: var(--size-p-a-avatar);
	max-height: var(--size-p-a-avatar);
	min-height: var(--size-p-a-avatar);
	border-radius: 100px;
	object-fit: cover;
	object-position: center;
	background-color: var(--color-img-default-background);
	pointer-events: none;
}
div.qak-popup-alert-item-content {
	padding: 0;
	margin: 0;
	margin-left: 10px;
	margin-top: 4px;
	width: -webkit-fill-available;
	width: -moz-available;
}
h2.qak-popup-alert-item-title {
	padding: 0;
	margin: 0;
	font-weight: 700;
	font-size: 16px;
	font-family: 'Montserrat', system-ui;
	display: block;
	align-items: center;
	width: -webkit-fill-available;
	width: -moz-available;
	color: var(--color-html-text);
}
h2.qak-popup-alert-item-title div.cont-dat {
	margin-top: 5px;
}
h2.qak-popup-alert-item-title font {
	display: inline-block;
	font-size: 12px;
	border: 1px solid var(--color-popup-item-background-hover);
	padding: 2px 6px;
	border-radius: 8px;
	text-transform: none;
	color: var(--color-html-text-sub);
	font-weight: 500;
}
h2.qak-popup-alert-item-title font2 {
	display: inline-block;
	font-size: 11px;
	text-align: right;
	border: 1px solid var(--color-popup-border);
	border-radius: 5px;
	padding: 0px 5px;
	float: right;
	margin-right: 10px;
	/* margin-top: 2px; */
	right: 10px;
	text-transform: none;
}

h2.qak-popup-alert-item-message {
	padding: 0;
	margin: 0;
	font-weight: 500;
	font-size: 13px;
	font-family: system-ui;
	/* opacity: .5; */
	/* padding-right: 5px; */
	color: var(--color-html-text);
	margin-top: 5px;
}
h2.qak-popup-alert-item-message img.notification-img-emotion {
	--size-img-notify-emotion: 13px;
	padding: 0;
	margin: 0;
	width: var(--size-img-notify-emotion);
	max-width: var(--size-img-notify-emotion);
	min-width: var(--size-img-notify-emotion);
	height: var(--size-img-notify-emotion);
	max-height: var(--size-img-notify-emotion);
	min-height: var(--size-img-notify-emotion);
	user-select: none;
	pointer-events: none;
}
h2.qak-popup-alert-item-message b {
	opacity: 1;
	background: var(--color-popup-border);
	padding: 0 4px;
	border-radius: 3px;
	font-weight: 500;
}
h2.qak-popup-alert-item-message post-l {
	opacity: 1;
	/* background: var(--color-popup-border); */
	/* padding: 1px 1px; */
	/* border-radius: 3px; */
	font-weight: 500;
	/* text-transform: uppercase; */
	cursor: pointer;
	text-transform: capitalize;
	/* border: 1px solid var(--color-alert-background-holder-border); */
}
h2.qak-popup-alert-item-message post-l:hover {
/* 	background: var(--color-popup-border); */
    text-decoration: underline;
}
h2.qak-popup-alert-item-message a {
	color: var(--color-html-text);
	text-decoration: none;
}
h2.qak-popup-alert-item-message a:hover {
	text-decoration: underline;
}

divider-title-p-a {
	padding: 4px;
	margin: 0px 4px;
	border-radius: 100px;
	display: inline-block;
	background: var(--color-popup-border);
}

div.qak-popup-alert-item-actions {
	padding: 5px;
	margin: 0;
	right: 9px;
	top: 0px;
	background: var(--color-container-background);
	/* border: 1px solid var(--color-container-data-border); */
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 10px;
}
div.qak-popup-alert-item-actions button {
	padding: 4px 10px;
	margin-left: 5px;
	border-radius: 4px;
}

div.qak-popup-alert-container {
	width: -webkit-fill-available;
	padding: 0;
	margin: 0;
	max-height: 400px;
	overflow-y: auto;
	padding-bottom: 15px;
	padding-top: 10px;
	display: grid;
	row-gap: 15px;
}

ul.tablayout-qak.find {
	margin: 0;
	padding: 4px;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	background: var(--color-tablayout-background);
	/* border: 1px solid var(--color-tablayout-border); */
}
ul.tablayout-qak.find li {
	padding: 10px 15px;
	margin: 0;
	position: relative;
	background: none;
	box-shadow: none;
	font-weight: 500;
	font-size: 16px;
	color: var(--color-tablayout-text-item);
	display: flex;
	justify-content: center;
	transition: all .2s;
	border-radius: 12px;
}
ul.tablayout-qak.find li:hover {
	background: var(--color-tablayout-border);
}
ul.tablayout-qak.find li.active {
	background: var(--color-tablayout-background-item-active);
	color: var(--color-tablayout-text-item);
}
ul.tablayout-qak.find li::after {
	height: 0;
}

div.qak-popup-alert-item-actions div.action {
	/* padding: 10px; */
	margin: 5px;
	background: lightgray;
	border-radius: 100px;
	display: flex;
	width: 30px;
	height: 30px;
	align-items: center;
	justify-content: center;
	position: relative;
}
div.qak-popup-alert-item-actions div.action:hover {
	transform: scale(.95);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
div.qak-popup-alert-item-actions div.action.positive {
	background: var(--color-button-positive);
}
div.qak-popup-alert-item-actions div.action.positive::after {
	content: "";
	border: 0px solid white;
	width: 6px;
	height: 10px;
	border-left: 2px;
	border-top: 2px;
	border-color: white;
	border-style: solid;
	transform: rotate(-136deg);
	margin-bottom: 3px;
}
div.qak-popup-alert-item-actions div.action.negative {
	background: var(--color-button-negative);
}
div.qak-popup-alert-item-actions div.action.negative::after {
	content: "";
	border: 0px solid white;
	width: 2px;
	height: 14px;
	background: white;
	transform: rotate(45deg);
	margin-left: -2px;
}
div.qak-popup-alert-item-actions div.action.negative::before {
	content: "";
	border: 0px solid white;
	width: 2px;
	height: 14px;
	background: white;
	transform: rotate(-45deg);
}