div.qak-rp-container {
	/* padding: 10px; */
	margin: 40px;
	width: 400px;
	background-color: var(--color-container-background);
	border: 1px solid var(--color-container-border);
	border-radius: 22px;
	display: block;
	text-align: center;
	padding-bottom: 20px;
	box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}

h2.title-qak-text {
	padding: 0px;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 35px;
	margin-top: 24px;
	text-align: center;
}

ul.tablayout-qak {
	margin-top: 10px;
	margin-bottom: 10px;
}

h2.qak-rp-message {
	padding: 0;
	margin: 20px;
	margin-bottom: 10px;
	color: var(--color-html-text);
	opacity: .5;
	font-weight: 500;
	font-size: 14px;
	font-family: system-ui;
}

div.qak-rp-container-data {
	transition: opacity .2s, height .2s;
	width: -webkit-fill-available;
	padding: 0;
	margin: 0;
}

img.qak-rp-logo {
	--size-logo-qak: 75px;
	padding: 3px;
	margin: 0;
	pointer-events: none;
	user-select: none;
	width: var(--size-logo-qak);
	max-width: var(--size-logo-qak);
	min-width: var(--size-logo-qak);
	height: var(--size-logo-qak);
	max-height: var(--size-logo-qak);
	min-height: var(--size-logo-qak);
	/* -webkit-mask-box-image-source: url('/assets/images/qak-verification-mask.png'); */
	border-radius: 100px;
	background: var(--color-background-qak-logo);
}

div.qak-sign-container {
	padding: 0;
	margin: 0;
	display: block;
	margin-bottom: 10px;
}

h4.qak-short-hint {
	margin-bottom: 2px;
}

button.qak-sign-button {
	
}

div.qak-rp-container hr {
	padding: 0;
	margin: 20px 10px;
	height: 1px;
	width: -webkit-fill-available;
	border: none;
	background: var(--color-container-border);
}

h2.subtitle-qak-text {
	margin-top: 5px;
}

center {
	width: -webkit-fill-available;
	/* height: 100vh; */
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}

h5.qak-puncts-title {
	padding: 0px 20px;
	padding-top: 15px;
	margin: 0;
	width: -webkit-fill-available;
	text-align: left;
	margin-top: 20px;
	font-weight: 600;
	font-size: 12px;
	font-family: system-ui;
	/* opacity: 0.4; */
	text-align: center;
	border-top: 1px solid var(--color-container-data-border);
}

ul.qak-rp-puncts {
	padding: 0 20px;
	margin: 0;
	width: -webkit-fill-available;
	list-style: none;
	text-align: left;
	font-weight: 500;
	font-size: 14px;
	font-family: system-ui;
	color: var(--color-html-text);
}
ul.qak-rp-puncts li {
	padding: 5px 0;
	margin: 0;
}
h2.message {
	padding: 0px 20px;
	margin: 0;
	font-weight: 500;
	font-size: 12px;
	font-family: system-ui;
	color: var(--color-html-text-sub);
	margin-bottom: 10px;
}

button {
	margin-top: 20px;
}