div#toastContainer {
	padding: 7px 12px;
	margin: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: var(--color-toast-background);
	border-radius: 3px;
	cursor: default;
	max-width: 260px;
	max-height: 65px;
	animation: scalePopup linear .1s;
	border: 1px solid var(--color-toast-border);
}
div#toastContainer p {
	padding: 0;
	margin: 0;
	color: var(--color-toast-text);
	font-weight: 400;
	font-size: 13px;
	font-family: system-ui;
	max-width: 260px;
	max-height: 51px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: flex;
}
div#toastContainer p img {
	padding: 0;
	margin: 0 10px;
	margin-right: 0;
	max-width: 40px;
	max-height: 40px;
	object-fit: cover;
	object-position: center;
/* 	display: block; */
}