body {
	transition: padding 1s;
}

center.qak-center-container {
	padding: 0px 30px;
	margin: 0;
}

div.qak-avatar-user {
	width: -webkit-fill-available;
	max-width: -webkit-fill-available;
	min-width: -webkit-fill-available;
	padding: 0;
	margin: 0;
	height: auto;
	max-height: 200px;
	border-collapse: collapse;
	position: relative;
	border-spacing: unset;
	white-space: nowrap;
	display: flex;
	border-radius: 15px;
	overflow: hidden;
	width: -moz-available;
	max-width: -moz-available;
	min-width: -moz-available;
}
div.qak-avatar-user:hover ul.qak-avatar-user-menu {
	display: block;
}
ul.qak-avatar-user-menu {
	padding: 10px 0;
	margin: 0;
	height: auto;
	width: 170px;
	position: absolute;
	user-select: none;
	bottom: 0;
	display: none;
	border-radius: 0;
	background-color: #2c2c33d4;
	animation: slideBottom linear .2s;
	z-index: 99;
}
ul.qak-avatar-user-menu li {
	padding: 6px 10px;
	margin: 0;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: white;
	font-weight: 400;
	font-size: 12px;
	font-family: system-ui;
}
ul.qak-avatar-user-menu li:hover {
	background-color: rgba(255,255,255,.3);
}
ul.qak-avatar-user-menu li img {
	--size-icon-ul-menu-avatar: 17px;
	width: var(--size-icon-ul-menu-avatar);
	max-width: var(--size-icon-ul-menu-avatar);
	min-width: var(--size-icon-ul-menu-avatar);
	height: var(--size-icon-ul-menu-avatar);
	max-height: var(--size-icon-ul-menu-avatar);
	min-height: var(--size-icon-ul-menu-avatar);
	pointer-events: none;
	user-select: none;
	object-position: center;
	object-fit: cover;
	margin-right: 4px;
	display: none;
}
img.qak-avatar-user {
	--size-user-avatar: 170px;
	padding: 0;
	margin: 0;
	width: -webkit-fill-available;
	max-width: -webkit-fill-available;
	min-width: -webkit-fill-available;
	height: auto;
	max-height: 200px;
	min-height: var(--size-user-avatar);
	object-fit: cover;
	object-position: center;
	background-color: var(--color-img-default-background);
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	max-inline-size: var(--default-bar-size);
	-webkit-border-image: none;
	overflow: hidden;
	image-rendering: -webkit-optimize-contrast;
	pointer-events: none;
	user-select: none;
	/* margin-top: 40px; */
	border-spacing: unset;
	border-bottom: 0;
	white-space: nowrap;
	width: -moz-available;
	min-width: -moz-available;
	max-width: -moz-available;
}

h2.qak-login-user {
	padding: 0;
	margin: 0;
	font-weight: 600;
	font-size: 26px;
	font-family: system-ui;
	/* margin-top: 10px; */
	/* margin-bottom: 5px; */
	text-align: left;
	display: flex;
	align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 35px;
	vertical-align: middle;
	width: -webkit-fill-available;
	position: relative;
}
h2.qak-login-user span.material-symbols-outlined.verification {
	font-size: 21px;
}
h2.qak-name-user {
	padding: 0;
	margin: 0;
	font-weight: 600;
	font-size: 12px;
	font-family: system-ui;
	/* opacity: .7; */
	/* display: none; */
	text-align: left;
}
h2.qak-user-title {
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 25px;
	font-family: system-ui;
	margin-top: 20px;
}
h2.qak-user-message {
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 13px;
	font-family: system-ui;
	opacity: .5;
}
div.qak-container-error {
	display: block;
	text-align: center;
	margin: 0;
	padding: 0;
	width: -webkit-fill-available;
}
h2.qak-user-no-post {
	padding: 0;
	margin: 20px 0;
	color: var(--color-html-text);
	font-weight: 400;
	font-size: 14px;
	font-family: system-ui;
	text-align: center;
	/* margin-top: 10px; */
}
h2.qak-user-no-post span {
	padding: 0;
	margin: 0 0 10px 0;
	display: block;
	font-size: 40px;
	color: var(--color-html-text-sub);
}
button.qak-button-post {
	margin-bottom: 10px;
}

div.qak-user-content-align {
	padding: 15px;
	margin: 0;
	/* display: flex; */
	align-items: center;
}
div.qak-user-content-align.content-data-top {
	padding: 0;
	margin: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	/* border-top: 1px solid var(--color-container-data-border); */
}
div.qak-user-content-data {
	/* padding: 10px; */
	margin: 0;
	padding-top: 0;
	width: -webkit-fill-available;
}

center.qak-user-conent-data-top {
	padding: 0px 15px;
	margin: 0;
	display: block;
	width: -webkit-fill-available;
	cursor: default;
	display: flex;
	align-items: center;
	height: 39px;
	max-height: 39px;
	min-height: 39px;
	width: -moz-available;
}
h2.qak-user-content-title-top {
	padding: 2px 8px;
	margin: 0;
	color: var(--color-html-text);
	font-weight: 600;
	font-size: 14px;
	font-family: system-ui;
	border: 1px solid var(--color-container-border);
	border-radius: 20px;
}
h3.qak-user-content-message-top {
	padding: 0;
	margin: 0;
	color: var(--color-html-text);
	/* opacity: .6; */
	font-weight: 500;
	font-size: 14px;
	font-family: system-ui;
	width: -webkit-fill-available;
	text-align: left;
	width: -moz-available;
}

div.qak-container-data-user {
    width: 200px;
    margin-right: 0;
    /* position: sticky; */
    /* top: 64px; */
}

button.user-account {
	margin-top: 10px;
	width: -webkit-fill-available;
	width: -moz-available;
}

verification-user.user {
	padding: 8px;
	margin-left: 4px;
	/* margin-top: 2px; */
	pointer-events: auto;
	position: absolute;
	/* right: 0px; */
	top: 11px;
}
verification-user.user:hover h5.verification-user {
	display: block;
}
h5.verification-user {
	display: none;
	padding: 10px;
	margin: 0;
	position: absolute;
	width: auto;
	/* white-space: nowrap; */
	background: var(--color-popup-background);
	border: 1px solid var(--color-popup-border);
	border-radius: 6px;
	margin-top: -16px;
	margin-left: 16px;
	font-weight: 400;
	font-size: 13px;
	font-family: system-ui;
	pointer-events: none;
	box-shadow: 0 2px 10px rgba(0,0,0,.1);
	width: max-content;
	max-width: 415px;
}
h5.verification-user:hover {
	display: block;
}
h5.verification-user b.type {
	color: var(--color-html-accent);
}
h5.verification-user::after {
	content: "";
	background: var(--color-popup-background);
	width: 10px;
	height: 10px;
	position: absolute;
	border-top: 1px solid var(--color-popup-border);
	border-left: 1px solid var(--color-popup-border);
	transform: rotate(-45deg);
	left: -6px;
	top: 10px;
}

hr.qak-user-contact-divider-top {
	margin: 5px 0;
	border: none;
	background: var(--color-container-border);
	height: 1px;
}

div.qak-user-contact-container-top {
	padding: 0;
	margin: 0;
}

h2.qak-user-contact-no-top {
	padding: 20px;
	margin: 0;
	font-weight: 500;
	font-size: 12px;
	font-family: system-ui;
	color: var(--color-html-text-sub);
	padding-top: 15px;
}

div.qak-user-contact-container-top center.qak-user-conent-data-top {
	padding: 0;
	padding-bottom: 10px;
	margin: 0;
	display: block;
}
div.qak-user-contact-container-top center.qak-user-conent-data-top h3.qak-user-content-message-top {
	padding: 4px 15px;
	margin: 0;
	background: var(--color-container-border);
	font-size: 12px;
	font-weight: 500;
}
div.qak-user-contact-container-top center.qak-user-conent-data-top h2.qak-user-content-title-top {
	padding: 0 15px;
	margin: 0;
	text-align: left;
	font-size: 14px;
	margin-top: 7px;
}

div.qak-container-data-top-sticky {
	padding: 0;
	margin: 0;
	z-index: 20;
}

div.qak-container-data.qak-container-data-user.user-data {
	z-index: 10;
	/* box-shadow: 0 6px 25px var(--color-html-background); */
	position: sticky;
	top: 10px;
}

div.qak-container-data.qak-container-data-user.other-data {
	/* z-index: 9; */
	position: sticky;
	top: 40px;
}

button.user-account.border.three {
	position: relative;
}

ol.popup.user-other {
	padding: 4px 0;
	width: -webkit-fill-available;
	left: 0;
	border-radius: 21px;
	margin-top: 18px;
	/* border-top-left-radius: 0; */
	/* border-top-right-radius: 0; */
	background-color: var(--color-popup-background);
	box-shadow: 0 30px 30px rgb(0 0 0 / 30%);
}
ol.popup.user-other::after {
	right: 39%;
}
button.user-account.border.three {
	transition: none;
	transform: scale(1);
	z-index: 999;
}

button.user-contacts {
	margin: 13px;
	width: -webkit-fill-available;
	margin-top: 8px;
	width: -moz-available;
}

div#qak-user-post-container-data {
	padding: 0;
	margin: 0;
	width: -webkit-fill-available;
}

h2.qak-user-message-wait {
	padding: 20px;
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	font-family: system-ui;
	background-color: var(--color-html-text-sub);
	color: transparent;
	text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	width: -webkit-fill-available;
}

div.qak-container-data-top-data-content {
	z-index: 20;
}

img.qak-user-background-image {
	padding: 0;
	margin: 0;
	z-index: 1;
	position: absolute;
	width: -webkit-fill-available;
	max-width: -webkit-fill-available;
	min-width: -webkit-fill-available;
	height: 500px;
	left: 0;
	right: 0;
	top: 0;
	-webkit-mask-image: linear-gradient(180deg, black, transparent);
	opacity: .1;
	/* filter: blur(1px); */
	pointer-events: none;
	user-select: none;
	object-fit: cover;
	object-position: center;
}

online {
	padding: 8px;
	margin: 0;
	background-color: var(--color-online);
	border-radius: 100px;
	margin-left: 5px;
	margin-top: 6px;
	animation-name: blink;
	animation-timing-function: linear;
	animation-iteration-count: initial;
	animation-duration: 1.1s;
	user-select: none;
	transition: .2s linear;
	width: 0px;
	overflow: hidden;
	color: var(--color-online);
	font-weight: 500;
	font-size: 10px;
	font-family: system-ui;
	line-height: 0px;
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
}
online:hover {
	width: 47px;
	color: var(--color-online-text);
}

border-round-name {
	padding: 4px;
	border-radius: 100px;
	background: var(--color-container-data-border);
	display: inline-block;
	margin: 0 1px;
	pointer-events: none;
}

div.qak-user-status {
	padding: 3px;
	margin: 10px;
	position: absolute;
	background: var(--color-container-background);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	border: 1px solid var(--color-container-border);
	top: 0;
	right: 0;
	z-index: 98;
	cursor: pointer;
}
div.qak-user-status img {
	padding: 0;
	margin: 0;
	pointer-events: none;
	user-select: none;
	width: 24px;
	height: 24px;
	border-radius: 100%;
}

div.qak-user-content-users-follow {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
div.qak-user-content-users-follow div.item-follow-user {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: inset 2px solid var(--color-container-background); */
	border-radius: 100px;
	overflow: hidden;
	position: relative;
	margin-left: -12px;
	pointer-events: none;
	user-select: none;
	background-color: var(--color-container-background);
} 
div.qak-user-content-users-follow div.item-follow-user img {
	--size-avatar-follow-item: 24px;
	padding: 0;
	margin: 0;
	width: var(--size-avatar-follow-item);
	max-width: var(--size-avatar-follow-item);
	min-width: var(--size-avatar-follow-item);
	height: var(--size-avatar-follow-item);
	max-height: var(--size-avatar-follow-item);
	min-height: var(--size-avatar-follow-item);
	object-fit: cover;
	object-position: center;
	image-rendering: pixelated;
	/* border-radius: 100px; */
	background: var(--color-img-default-background);
}
div.qak-user-content-users-follow div.item-follow-user h2.qak-user-content-title-top {
	background: crimson;
	color: white;
	border: none;
	height: 24px;
	padding: 0px;
	margin: 0px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: monospace;
}

div.qak-container-data.qak-container-data-user.user-data h5.user-qak-cont-about {
	padding: 5px 12px;
	margin: 0;
	margin-top: 10px;
	border: 1px solid var(--color-container-data-border);
	border-radius: 15px;
	text-align: left;
	font-size: 12px;
	font-family: system-ui;
	font-weight: 400;
	color: var(--color-html-text-sub);
	background: var(--color-html-background);
}



@keyframes blink {
	0% { opacity: 0; }
	10% { opacity: .1; }
	20% { opacity: .2; }
	30% { opacity: .3; }
	40% { opacity: .4; }
	50% { opacity: .5; }
	60% { opacity: .6; }
	70% { opacity: .7; }
	80% { opacity: .8; }
	90% { opacity: .9; }
	100% { opacity: 1; }
}